.container {
  background-color: #27282f;
  color: #FFF;
  min-height: 100vh;
}

.area{
margin: auto;
max-width: 980px;
padding: 30px;

}


.header{
  margin: 0;
  padding: 0;
  
}
.header h1{
  text-align: center;
margin-bottom: 52px
}


.screenWarning{
  text-align: center;


}

.screenWarning .emoji{
  font-size: 50px;
  margin-bottom: 20px;
}
.screenWarning h1{
  font-size: 18px;
  font-weight: 400 bold;
  color: #FFF;
}


.photoList{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}

.upload form{
  background-color: #3d3f43;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.upload input[type=submit]{
background-color: #756df4;
border: 0;
color: #FFF;
padding: 8px 16px;
font-size: 15px;
border-radius: 10px;
margin: 0 20px;
cursor: pointer;
}

.upload input[type=submit]:hover{
  opacity: .9;
}